# Comparando dois DataFrame
A proposta é comparar dois dataframes carregados à partir de documentos CSV para descobrir quais os itens que estão contidos nos dois e quais não estão.

A função em Pandas para isto é `isin()` conforme pode ser conferido nos exemplos a seguir.

Um guia com exemplos mais completo está neste [post](https://datagy.io/pandas-isin/)

In [33]:
import pandas as pd
file1 = 'csv1.csv'
file2 = 'csv2.csv'
# Lê o documento passando qual o separador.
# Por padrão, considera vírgula como separador.
lst1 = pd.read_csv(file1, sep=';')
lst1.head(5)

# Mostra a estrutura do arquivo
# print(lst1.info())

   codigo descricao  aliquota
0       1   Codigo1         5
1       2   Codigo2         5
2       3   Codigo3         5
3       4   Codigo4         5
4       5   Codigo5         5

In [35]:
lst2 = pd.read_csv(file2, sep=';')
lst2.head(5)

   codigo descricao  aliquota
0       1   Codigo1         5
1       2   Codigo2         5
2       3   Codigo3         5
3       4   Codigo4         5
4       5   Codigo5         5

In [ ]:
# comparando as duas listas
lst2.isin(lst1)

In [ ]:
# Comparando lista 1 com a 2
lst1.isin(lst2)

In [36]:
# Testando IsIn
# https://datagy.io/pandas-isin/
# Encontra os iguais
df = lst1[lst1['codigo'].isin([1,2])]
print('Iguais\n')
print(df)

# Encontra os diferentes através do operador '~'
df2 = lst1[~lst1['codigo'].isin([1,2])]
print('Diferentes\n')
print(df2)

Iguais

   codigo descricao  aliquota
0       1   Codigo1         5
1       2   Codigo2         5
Diferentes

    codigo descricao  aliquota
2        3   Codigo3         5
3        4   Codigo4         5
4        5   Codigo5         5
5        6   Codigo6         5
6        7   Codigo7         5
7        8   Codigo8         5
8        9   Codigo9         5
9       10  Codigo10         5
10      11  Codigo11         5

In [37]:
# Comparando
df = lst1[lst1['codigo'].isin(lst2['codigo'])]
print('******\nExiste\n******\n')
print(df)
df2 = lst1[~lst1['codigo'].isin(lst2['codigo'])]
print('\n**********\nNão existe\n**********\n')
print(df2)

# Comparação reversa
df3 = lst2[~lst2['codigo'].isin(lst1['codigo'])]
print('\n**********\nNão existe\n**********\n')
print(df3)

******
Existe
******

   codigo descricao  aliquota
0       1   Codigo1         5
1       2   Codigo2         5
2       3   Codigo3         5
3       4   Codigo4         5
4       5   Codigo5         5
5       6   Codigo6         5
6       7   Codigo7         5
7       8   Codigo8         5
8       9   Codigo9         5

**********
Não existe
**********

    codigo descricao  aliquota
9       10  Codigo10         5
10      11  Codigo11         5

**********
Não existe
**********

    codigo descricao  aliquota
9       20  Codigo10         5
10      12  Codigo12         5